.mega-menu-col-titlemega-menu-col-title{
  text-transform: uppercase !important;
}
/* START SLIDER */
.cid-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-slider .modal-body .close span {
  font-style: normal;
}
.cid-slider .carousel-inner > .active,
.cid-slider .carousel-inner > .next,
.cid-slider .carousel-inner > .prev {
  display: table;
}
.cid-slider .carousel-control .icon-next,
.cid-slider .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-slider .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-slider .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-slider .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-slider .boxed-slider > div {
  position: relative;
}
.cid-slider .container img {
  width: 100%;
}
.cid-slider .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-slider .mbr-table-cell {
  padding: 0;
}
.cid-slider .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-slider .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-slider .mbr-overlay {
  z-index: 1;
}
.cid-slider .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-slider .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-slider .carousel-item .container {
    width: 100%;
  }
}
.cid-slider .carousel-item-next.carousel-item-left,
.cid-slider .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-slider .active.carousel-item-right,
.cid-slider .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-slider .active.carousel-item-left,
.cid-slider .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-slider .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-slider .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 1.5rem;
}
.cid-slider .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 1.5rem;
}
.cid-slider .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-slider .mbr-slider .carousel-control {
    top: auto;
    bottom: 6rem;
  }
  .mbr-figure img, .card-img img {
      width: 96% !important;
  }
  
  .healthfultitle{
     font-size: 0.4em !important;
  }
  .healthfultitle1 {
    font-size: 0.140em !important;
  }
}
.cid-slider .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-slider .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-slider .mbr-slider .carousel-indicators li.active,
.cid-slider .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-slider .mbr-slider .carousel-indicators li::after,
.cid-slider .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-slider .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-slider .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-slider .mbr-slider > .container img {
  width: 100%;
}
.cid-slider .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-slider .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-slider .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-slider .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-slider .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-slider .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-slider .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-slider .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-slider .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-slider .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-slider .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-slider .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-slider .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-slider H2 {
  color: #ffffff;
}
/*article*/
.cid-s0d9g7xJ28 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s0d9g7xJ28 .mbr-section-subtitle {
  color: #767676;
}
.cid-rZQUkrFj0i .navbar {
  background: #19284d;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}

/*article image*/
.cid-s0d8RTjQh0 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s0d8RTjQh0 .image-block {
  margin: auto;
}
.cid-s0d8RTjQh0 figcaption {
  position: relative;
}
.cid-s0d8RTjQh0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s0d8RTjQh0 .image-block {
    width: 100% !important;
  }
}


.searchli{
  padding: 1.5rem;
}
#autoSuggestionsList{
  display: none;
}
#autoSuggestionsList > li {
    background: none repeat scroll 0 0 #F3F3F3 !important;
    border-bottom: 1px solid #E3E3E3;
    list-style: none outside none;
    padding: 10px 15px 10px 15px;
    text-align: left;
    display: none;
}
#autoSuggestionslist ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
#autoSuggestionsList > li a { color: #800000; }

.auto_list {
    /*border: 1px solid #E3E3E3;*/
    border-radius: 4px 4px 4px 4px;
    position: relative; /* default absolute*/
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
}


.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

/*article content*/

.cid-s0dccsMGsk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s0dccsMGsk .mbr-text,
.cid-s0dccsMGsk blockquote {
  color: #767676;
}

/*stories page*/
.step {
    width: 64px;
    height: 64px;
    font-size: 32px;
    border-radius: 50%;
    border: 2px solid #efefef;
}


.cid-s0vol6Juhq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #55b4d4;
  background: linear-gradient(#55b4d4, #efefef);
}
.cid-s0vol6Juhq .carousel-control {
  background: #000;
}
.cid-s0vol6Juhq .mbr-section-subtitle {
  color: #767676;
}
.cid-s0vol6Juhq .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0vol6Juhq .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-s0vol6Juhq .carousel-item .wrap-img {
  text-align: center;
}
.cid-s0vol6Juhq .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-s0vol6Juhq .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0vol6Juhq .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-s0vol6Juhq .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-s0vol6Juhq .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-s0vol6Juhq .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-s0vol6Juhq .cloneditem-1,
.cid-s0vol6Juhq .cloneditem-2,
.cid-s0vol6Juhq .cloneditem-3,
.cid-s0vol6Juhq .cloneditem-4,
.cid-s0vol6Juhq .cloneditem-5 {
  display: none;
}
.cid-s0vol6Juhq .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-s0vol6Juhq .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides2 .cloneditem-1,
  .cid-s0vol6Juhq .carousel-inner.slides2 .cloneditem-2,
  .cid-s0vol6Juhq .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides3 .cloneditem-1,
  .cid-s0vol6Juhq .carousel-inner.slides3 .cloneditem-2,
  .cid-s0vol6Juhq .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides4 .cloneditem-1,
  .cid-s0vol6Juhq .carousel-inner.slides4 .cloneditem-2,
  .cid-s0vol6Juhq .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides5 .cloneditem-1,
  .cid-s0vol6Juhq .carousel-inner.slides5 .cloneditem-2,
  .cid-s0vol6Juhq .carousel-inner.slides5 .cloneditem-3,
  .cid-s0vol6Juhq .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s0vol6Juhq .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s0vol6Juhq .carousel-inner.slides6 .cloneditem-1,
  .cid-s0vol6Juhq .carousel-inner.slides6 .cloneditem-2,
  .cid-s0vol6Juhq .carousel-inner.slides6 .cloneditem-3,
  .cid-s0vol6Juhq .carousel-inner.slides6 .cloneditem-4,
  .cid-s0vol6Juhq .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}

.cid-s0iy1EcUBf {
  padding-top: 30px;
  padding-bottom: 45px;
  
}
.cid-s0iy1EcUBf .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-s0iy1EcUBf .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-s0iy1EcUBf .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-s0iy1EcUBf .media-container-row .img-item .img-caption {
  background: #efefef;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-s0iy1EcUBf .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-s0iy1EcUBf .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-s0iy1EcUBf .img-item {
    width: 100% !important;
  }
  .cid-s0iy1EcUBf .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-s0iy1EcUBf P {
  text-align: left;
}


/*for image*/

.cid-s0dULTCGhj {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s0dULTCGhj .image-block {
  margin: auto;
}
.cid-s0dULTCGhj figcaption {
  position: relative;
}
.cid-s0dULTCGhj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s0dULTCGhj .image-block {
    width: 100% !important;
  }
}
/*navbar*/

.cid-rZQUkrFj0i .navbar {
  background: #ffff !important;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
  border-bottom: 2px solid #dee2e6;
}

.cid-rZQUkrFj0i .navbar-dropdown.bg-color.transparent.opened {
  background: #ffff;
}
.cid-rZQUkrFj0i a {
  font-style: normal;
}
.cid-rZQUkrFj0i .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rZQUkrFj0i .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: left;
}
.cid-rZQUkrFj0i .nav-item:focus,
.cid-rZQUkrFj0i .nav-link:focus {
  outline: none;
}
.cid-rZQUkrFj0i .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rZQUkrFj0i .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rZQUkrFj0i .menu-logo {
  margin-right: auto;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-logo {
  font-size: 5rem;
  transition: font-size 0.25s;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rZQUkrFj0i .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rZQUkrFj0i .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: left;
  padding-right: 5rem;
  width: auto;
}
.cid-rZQUkrFj0i .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rZQUkrFj0i .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rZQUkrFj0i .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rZQUkrFj0i .dropdown .dropdown-menu {
  background: #19284d;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rZQUkrFj0i .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rZQUkrFj0i .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rZQUkrFj0i .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rZQUkrFj0i .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rZQUkrFj0i .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rZQUkrFj0i .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rZQUkrFj0i .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rZQUkrFj0i .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rZQUkrFj0i .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rZQUkrFj0i .navbar.navbar-short .navbar-logo a img {
  height: 5rem !important;
}
.cid-rZQUkrFj0i .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rZQUkrFj0i button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rZQUkrFj0i button.navbar-toggler:focus {
  outline: none;
}
.cid-rZQUkrFj0i button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: black !important;
}
.cid-rZQUkrFj0i button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rZQUkrFj0i button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rZQUkrFj0i button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rZQUkrFj0i button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rZQUkrFj0i nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZQUkrFj0i nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rZQUkrFj0i nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rZQUkrFj0i nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZQUkrFj0i .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rZQUkrFj0i .collapsed .btn {
  display: -webkit-flex;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rZQUkrFj0i .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rZQUkrFj0i .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rZQUkrFj0i .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-rZQUkrFj0i .collapsed button.navbar-toggler {
  display: block;
}
.cid-rZQUkrFj0i .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rZQUkrFj0i .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rZQUkrFj0i .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rZQUkrFj0i .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rZQUkrFj0i .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rZQUkrFj0i .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rZQUkrFj0i.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rZQUkrFj0i img {
    height: 3.8rem !important;
  }
  .cid-rZQUkrFj0i .btn {
    display: -webkit-flex;
  }
  .cid-rZQUkrFj0i button.navbar-toggler {
    display: block;
  }
  .cid-rZQUkrFj0i .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rZQUkrFj0i .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rZQUkrFj0i .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing,
  .cid-rZQUkrFj0i .navbar-collapse.show {
    display: block !important;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing .navbar-nav,
  .cid-rZQUkrFj0i .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rZQUkrFj0i .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rZQUkrFj0i .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing .navbar-buttons,
  .cid-rZQUkrFj0i .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rZQUkrFj0i .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rZQUkrFj0i .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rZQUkrFj0i .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rZQUkrFj0i .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rZQUkrFj0i .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rZQUkrFj0i .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rZQUkrFj0i .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rZQUkrFj0i .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}

.cid-rZQUkrFj0i .nav-link:hover,
.cid-rZQUkrFj0i .dropdown-item:hover {
  color: black !important;
}